@font-face
    font-family: 'music-icon'
    src: url('../fonts/music-icon.eot?2qevqt')
    src: url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'),
        url('../fonts/music-icon.ttf?2qevqt') format('truetype'),
        url('../fonts/music-icon.woff?2qevqt') format('woff'),
        url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg')
    font-weight: normal
    font-style: normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'music-icon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    
.icon-stop:before
    content: "\e70f"

.icon-random:before
    content: "\e67c"

.icon-back:before
    content: "\e77c"

.icon-play:before
    content: "\e63f"

.icon-loop_single:before
    content: "\e615"

.icon-loop_all:before
    content: "\e616"

.icon-like_on:before
    content: "\e600"

.icon-like_out:before
    content: "\e6a1"

.icon-playlist:before
    content: "\e618"

.icon-prev_song:before
    content: "\e6aa"

.icon-next_song:before
    content: "\e77d"