//颜色定义规范
$color-background = #f8f8ff//通用背景——雪白色
$color-background-b = #222//播放器背景——黑色
$color-background-w = #fff//主导航——纯白色
$color-background-s = #dcdcdc//背景浅灰色——标题栏背景
$color-background-d = rgba(0, 0, 0, .3)//背景灰色——头像背景
$color-background-l = rgba(0, 0, 0, .6)//通用遮罩层背景灰色
$color-background-m = rgba(0, 0, 0, .7)//背景深灰色——字母卡片
$color-dialog-background = #666
$color-theme = #11a99b//主题-绿色
$color-theme-w = rgba(255, 255, 255, .5)//播放器 副主题色
$color-sub-theme = #d93f30
$color-text-w = #fff//字体反衬-白色
$color-text = #000//常规字体-黑色
$color-text-d = rgba(0, 0, 0, .3)
$color-text-l = rgba(0, 0, 0, .5)//常规字体-灰色
$color-text-ll = rgba(0, 0, 0, .8)
$color-red = #ff4500// 收藏红色

//字体定义规范
$font-size-small-s = 10px//不兼容谷歌浏览器
$font-size-small = 12px
$font-size-medium = 14px//导航
$font-size-medium-x = 16px
$font-size-large = 18px//logo
$font-size-large-x = 24px

//圆角
$border-radius = 3px//标准小圆角